body{
    font-weight: bold;
    font-family: Arial,  sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    color: hsl(0, 0%, 20%);
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 7.5rem;
    border-radius :250px;
    background-color: hsl(240, 100%, 50%);
    cursor: pointer;
    min-width: 160px;
    margin: 0 10px;
    transition: background-color 0.5s ease;   
}
.choices button:hover{
    background-color:hsl(240, 100%, 70%) ;
}
#playerchoice,#computerchoice{
    font-size: 2.5rem;
}
#sameresult{
    margin: 30px 0;
    font-size: 5rem;
}
.greentext,#playerscore{
    color: hsl(120, 94%, 49%);
}
.redtext,#computerscore{
    color: #f20707;
}
.scoredisplay{
    font-size: 2rem;
}